<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commonsense.android.kotlin.example">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashExampleActivity"
            android:label="@string/app_name"
            android:theme="@style/example_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.dataActivity.SecondActivityWithData" />
        <activity android:name=".views.dataActivity.StartActvityData" />
        <activity android:name=".views.baseActivity.LoggedInActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.IntroActivity" />
        <activity android:name=".views.tools.ToolsOverviewActivity" />
        <activity android:name=".views.tools.ToolsAnrActivity" />


    </application>

</manifest>