<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="csense.android.exampleApp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.SplashExampleActivity"
            android:label="@string/app_name"
            android:theme="@style/example_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DemoActivity" />
        <activity android:name=".activity.Demo2Activity" />
        <activity android:name=".activity.Demo4Activity" />
        <activity android:name=".activity.Demo5Activity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.LargeDataActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".widgetsExamples.MainWidgetExampleActivity" />
        <activity android:name=".views.tools.ToolsFpsActivity" />
        <activity android:name=".views.tools.ToolsOverviewActivity" />
        <activity android:name=".views.tools.ToolsCrashListenerActivity" />
        <activity android:name=".views.tools.ToolsPerformanceActivity" />
        <activity android:name=".views.tools.ToolsAnrActivity" />
        <activity android:name=".views.widgets.WidgetsOverviewActivity" />
        <activity android:name=".views.widgets.WidgetsRecyclerExampleActivity" />

    </application>

</manifest>